# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
playwright-report/
test-results/
blob-report/
.trace/
*.zip

# Reports
reports/
*.html
*.json

# Logs
logs/
*.log

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml
